<div style="margin-top: 14em;">
    <img src="../assets/logo.png" width="500px" style="transform:rotate(4deg);"/>
    <div fxLayout="row" fxLayoutAlign="center center">
        <form id="search-form">
            <div class="search">
                <input type="text"
                    name="search"
                    placeholder="Search..."
                    class="round"
                    [(ngModel)]="searchBox" />

                <input type="button"
                    class="corner"
                    (click)="Search()"
                    value="🔍" />
            </div>
        </form>
        <button mat-icon-button color="primary" (click)="OpenDrawer()" class="filter-btn" matTooltip="Filters"
            matTooltipPosition="above">
            <mat-icon>tune</mat-icon>
        </button>
    </div>
</div>