<div fxLayout="column">
    <img src="../assets/logo.png"
         width="500px"
         style="transform:rotate(4deg);" />
    <div fxLayout="row"
         fxLayoutAlign="center center">
        <form id="search-form">
            <div class="search">
                <input type="text"
                       name="search"
                       placeholder="Search..."
                       class="round"
                       [(ngModel)]="searchBox"
                       (keyup.enter)="AdvanceSearch()" />

                <button mat-icon-button
                        #searchbtn
                        color="primary"
                        (click)="AdvanceSearch()"
                        class="corner"
                        matTooltip="Search"
                        matTooltipPosition="above">
                    <mat-icon>search</mat-icon>
                </button>

            </div>
        </form>
        <button mat-icon-button
                color="primary"
                class="filter-btn"
                matTooltip="Filters"
                matTooltipPosition="above">
            <mat-icon>tune</mat-icon>
        </button>
    </div>
    <button fxFlexAlign="flex-end"
            style="margin-right: 4rem;"
            mat-button
            (click)="OpenDialogWithImage()">Search by image</button>
</div>