input, .round {
    width: 100%;
    border-radius: 150px;
    border: none;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: inherit;
    background: #227aa1 !important;
    color: #fff;
    box-shadow: 5px 3px 4px black;
}
::placeholder {
    color: rgb(201, 201, 201);
}
.corner {
    position: absolute;
    top: 2px;
    right: 3px;
    height: 20px;
    width: 35px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255); /* Set the bg image here. with "no-repeat" */
}
.corner2 {
    position: absolute;
    top: 2px;
    right: -23px;
    height: 20px;
    width: 35px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255); /* Set the bg image here. with "no-repeat" */
}
.search {
    position: relative;
    width: 350px;
    height: 30px;
}

.filter-btn {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    color: white;
    visibility: hidden;
}

.image-chip {
    font-size: xx-small;
    min-height: 23px;
}

.image-chip-hide {
    font-size: xx-small;
    min-height: 23px;
    opacity: 0;
}

.snack-error{
    background:#c82a2a;
    color:white;
}