<mat-card class="card"
          *ngIf="meme != null">
    <mat-card-header (click)="OpenDetails()">
        <mat-card-title style="word-wrap: break-word; overflow-wrap: anywhere; height:50px">{{meme.title}}
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image
         class="card-image"
         (click)="OpenDetails()"
         [src]="meme.imageUrl"
         alt="Meme Title">
    <mat-card-content class="card-content">

        <mat-chip-list class="example-chip"
                       cdkDropList
                       cdkDropListOrientation="horizontal">
            <mat-chip color="accent"
                      selected>{{meme.year}}</mat-chip>
            <mat-chip class="example-box"
                      cdkDrag
                      *ngFor="let category of meme.categories">
                {{category}}
            </mat-chip>

        </mat-chip-list>
    </mat-card-content>
</mat-card>