.card {
    width: 330px;
    max-height: 400px;
    margin-top: 25px;
}
.card-content {
    height: 100px;
}
.mat-card-header .mat-card-title {
    margin-bottom: none;
}

.card-image {
    max-height: 200px;
}
