<div fxLayout="column"
     fxLayoutAlign="center"
     style="min-width: 20rem;">
    <div fxLayout="row"
         fxLayoutAlign="space-between center">
        <h3 style="text-decoration: underline; margin: 0;">FILTERS</h3>
        <button mat-icon-button
                color="primary"
                (click)="CloseDrawer()"
                class="filter-btn"
                matTooltip="Close filters"
                matTooltipPosition="right"
                class="close-btn">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
    <form [formGroup]="filterForm"
          fxLayout="column"
          fxLayoutAlign="center"
          style="margin-left: 1rem;
        margin-right: 1rem;"
          fxLayoutGap="4%">
        <h3>Category</h3>
        <mat-form-field appearance="outline"
                        [style.fontSize.px]="12"
                        color="primary"
                        style="max-height: 50px;">
            <mat-label>Category</mat-label>
            <input type="text"
                   matInput
                   placeholder="Search category..."
                   formControlName="category"
                   [matAutocomplete]="autoCategory">
            <button mat-button
                    *ngIf="f.category.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="ClearCategory()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption
                              #autoCategory="matAutocomplete" [displayWith]="DisplayCategory"
                              (optionSelected)="SelectedCategory($event)">
                <mat-option *ngFor="let category of filteredCategories | async"
                            [value]="category" [matTooltip]="category.name + ' (' + category.quantity + ')'" matTooltipPosition="right">
                    {{ category.name }} ({{ category.quantity }})
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.category.hasError('incorrect')">
                Please select proper category
            </mat-error>
        </mat-form-field>
        <h3>Status</h3>
        <mat-chip-list selectable multiple>
            <mat-chip #c="matChip" *ngFor="let chip of statusChips" color="primary" (click)="ToggleSelection(c)" 
            [selected]="chip.selected" style="cursor: pointer; font-size: small;">{{ chip.name }}</mat-chip>
        </mat-chip-list>
        <h3>Source</h3>
        <mat-form-field appearance="outline"
                        [style.fontSize.px]="12"
                        color="primary"
                        style="max-height: 50px;">
            <mat-label>Source</mat-label>
            <input type="text"
                   matInput
                   formControlName="source"
                   placeholder="Search source..."
                   [matAutocomplete]="autoSource">
            <button mat-button
                    *ngIf="f.source.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="ClearSource()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption
                              #autoSource="matAutocomplete"
                              (optionSelected)="SelectedSource($event)"
                              [displayWith]="DisplaySource">
                <mat-option *ngFor="let source of filteredSources | async"
                            [value]="source" [matTooltip]="source.name + ' (' + source.quantity + ')'" matTooltipPosition="right">
                        {{ source.name }} ({{ source.quantity }})
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="f.source.hasError('incorrect')">
                Please select proper source
            </mat-error>
        </mat-form-field>
        <h3>Years</h3>
        <div>
            <ion-range dualKnobs="true"
                    min="1968"
                    max="2021"
                    step="1"
                    snaps="false"
                    pin="true"
                    class="ranger"
                    [(ngModel)]="years"
                    [ngModelOptions]="{standalone: true}"></ion-range>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field appearance="outline"
                    [style.fontSize.px]="12"
                    color="primary"
                    style="max-height: 50px; max-width: 75px;">
                    <input type="number"
                        matInput
                        [ngModel]="years.lower"
                        (ngModelChange)="years = {lower: $event, upper: years.upper}"
                        min="1968" [max]="years.upper"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <span style="margin: 0.5rem;">-</span>
                <mat-form-field appearance="outline"
                    [style.fontSize.px]="12"
                    color="primary"
                    style="max-height: 50px; max-width: 75px;">
                <input type="number"
                    matInput
                    (ngModelChange)="years = {lower: years.lower, upper: $event}"
                    [ngModel]="years.upper" 
                    [ngModelOptions]="{standalone: true}"
                    [min]="years.lower" max="2021">
            </mat-form-field>
        </div>
        </div>
        <h3>Search in</h3>
        <div>
            <section>
                <mat-checkbox color="primary">title</mat-checkbox>
                <mat-checkbox color="primary" style="margin-left: 4rem;">image</mat-checkbox>
            </section>
            <mat-checkbox color="primary">content</mat-checkbox>
        </div>
        <h3>Your filters:</h3>
        <mat-chip-list style="flex-wrap: wrap; max-width: 300px;">
            <mat-chip #c="matChip"
                      *ngFor="let chip of filters"
                      removable="true"
                      (removed)="Remove(chip)"
                      style="font-size: xx-small;"
                      class="filters"
                      #chipList>
                {{chip}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
        <div fxLayout="row"
             fxLayoutAlign="space-between">
            <div></div>
            <button mat-raised-button
                    color="primary" (click)="Filter()">FILTER</button>
        </div>
    </form>
</div>