@import "../../styles.scss";

.close-btn{
    color: white;
    visibility: hidden;
}

.close-icon{
    font-size: medium;
}

ion-range::part(pin) {
    transform: translate3d(0px, -31px, 0px) scale(1.2);
}

.filters.mat-standard-chip{
    min-height: 23px;
}

.ranger{
    --knob-background: #{mat-color($primary)}; 
    --bar-background-active: #{mat-color($primary)}; 
    --pin-background: #{mat-color($primary)};
    --bar-background: #{mat-color($primary, 200)};
}