
<h1 mat-dialog-title>Load image for search</h1>
<div mat-dialog-content fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2rem">
        <mat-form-field appearance="outline"
            [style.fontSize.px]="12"
            color="primary"
            fxFlex="80%"
            fxFlexAlign="center">
            <input type="url"
                matInput
                [formControl]="url">
            <button mat-button
                *ngIf="url.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="Clear()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="url.invalid">Plese type right url!</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="load-btn" 
        [disabled]="url.invalid" (click)="imageVisible = true">Load</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="flex-start">
        <span *ngIf="imageVisible" style="padding-left: 6rem;">Preview:</span>
        <img *ngIf="imageVisible" fxFlexAlign="center" weight="50%" [src]="url.value" (error)="LoadError()" class="image"/>
        <span *ngIf="!imageVisible" style="padding-left: 6rem;" style="opacity: 0%;">Preview:</span>
        <img *ngIf="!imageVisible" fxFlexAlign="center" weight="50%" style="opacity: 0%;" class="image"
            src="https://i.kym-cdn.com/entries/icons/original/000/023/701/269.jpg"
            alt="Photo"/>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-raised-button mat-dialog-close color="primary" [disabled]="url.invalid || !imageVisible"
    [mat-dialog-close]="url.value">Search</button>
</div>