<div>
    <h1 class="title">
        {{meme.title}}
    </h1>

    <div class="content"
         fxLayout="row"
         fxLayoutAlign="start stretch">
        <div class="details"
             div
             fxLayout="column"
             fxLayoutAlign="start start">
            <div class="image">
                <img src="{{meme.imageUrl}}" />
            </div>
            <div class="info prop-name"
                 fxLayout="row">
                <div fxlayout="columns">
                    <p>Status: </p>
                    <p>Origin: </p>
                    <p>Year: </p>
                    <p>Categories: </p>
                </div>
                <div class="prop-vals"
                     fxlayout="column">
                    <p>{{meme.status}}</p>
                    <p>{{meme.details}}</p>
                    <p>{{meme.year}}</p>
                    <span *ngFor="let category of meme.categories">{{category}}</span>
                </div>

            </div>
        </div>
        <div class="description"
             [innerHtml]="meme.content"></div>
    </div>
</div>