.drawer-container {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.sidenav {
    padding: 0.5rem;
    padding-left: 1rem;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}